<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mcgill.shredit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AdminAddNewExerciseActivity"
            android:label="@string/title_activity_admin_add_new_exercise"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".AdminModifyExerciseActivity" />
        <activity android:name=".AdminHomeActivity" />
        <activity android:name=".WorkoutActivity" />
        <activity android:name=".MuscleGroupActivity" />
        <activity android:name=".GymActivity" />
        <activity android:name=".GymPresetActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".CustomizeGymActivity" />
        <activity android:name=".SavedWorkoutActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>